<div>
  <h2>
    IO Config
  </h2>

  <clydeui-caspar-select (selectedCasparIdChange)="updateSelectedCasparId($event)">

  </clydeui-caspar-select>

  {{ selectedCasparId }}


  <h4>
    Add producer :
  </h4>
  <select (change)="producerTypeSelect($event)">
      <option value="FILE" >
          File Producer
      </option>
      <option value="STREAM" >
          Streaming Producer
      </option>
      <option value="DECKLINK" >
          Decklink producer
      </option>
  </select>

  <div id="inputForm">

  </div>

  <ng-container #vc></ng-container>


