



<div class="content">
  <!-- keys bars -->
<header>
    <h2>
      Live Switcher
    </h2>
    <clydeui-caspar-select (select)="setCasparId($event)" class="selectBtn"></clydeui-caspar-select>
  </header>

  <section *ngFor="let channel of channels.values()">
          <!-- DSK BAR -->
    <div class="DSK" *ngFor="let layer of layers.values()" >
      <div *ngIf="layer.channelId == channel.id">
        <div class="switchBar1D">
          <!-- DSK-->
          <ul class="switchBar">
            <div class="label">{{layer.name}}</div>
            <li *ngFor="let producer of producers.values()" [class.active]="producer.id==layers.get(layer.id).selectedInput" [class.normal]="producer.id!=layers.get(layer.id).selectedInput" class="key" (click)="layerSetInput(producer.id, layer.id)">
              <div >
                {{ producer.name }}
              </div>
            </li>
          </ul>
        </div>
        <div class="btnCt">
          <!-- TAKE BTN -->
          <button class="takeBtn" (click)="layerToggle(layer.id)" [class.active]="layer.started == true">
              TAKE
          </button>
          <!-- geometryBtn -->
          <div class="geometryBtn">
            <div class="scale">
              <div (click)="layerGeometry.scale = layer.scaleX+geometryGap; layerGeometryUpdate(layer.id)">
                +
              </div><div (click)="layerGeometry.scale = layer.scaleX-geometryGap; layerGeometryUpdate(layer.id)">
                -
              </div>
            </div>
            <div class="position">
              <div class="left">
                <button (click)="layerGeometry.horizontal = layer.posX-geometryGap; layerGeometryUpdate(layer.id)">
                  ◀
                </button>
              </div><div class="center">
                <button (click)="layerGeometry.vertical = layer.posY-geometryGap; layerGeometryUpdate(layer.id)">
                  ▲
                </button>
                <button (click)="layerGeometry.vertical = layer.posY+geometryGap; layerGeometryUpdate(layer.id)">
                  ▼
                </button>
              </div><div class="right">
                <button (click)="layerGeometry.horizontal = layer.posX+geometryGap; layerGeometryUpdate(layer.id)">
                  ▶
                </button>
              </div>
            </div>
          </div>
          <!-- geometry cursors -->
          <div class="geometryCursors">
            <div>
              <label>Scale : </label><input type="range" min="0" max="2" step="0.01" (mouseup)="layerGeometry.scale=scale.value; layerGeometryUpdate(layer.id)" [value]="layer.scaleX" #scale/>
              <span>{{scale.value}}</span>
            </div>
            <div>
              <label>Horizontal : </label><input type="range" min="-1" max="1" step="0.01" (mouseup)="layerGeometry.horizontal=horizontal.value; layerGeometryUpdate(layer.id)" [value]="layer.posX" #horizontal/>
              <span>{{horizontal.value}}</span>
            </div>
            <div>
              <label>Vertical : </label><input type="range" min="-1" max="1" step="0.01" (mouseup)="layerGeometry.vertical=vertical.value; layerGeometryUpdate(layer.id)" [value]="layer.posY" #vertical/>
              <span>{{vertical.value}}</span>
            </div>
          </div>
          <!-- RESET BTN -->
          <button class="resetBtn" (click)="layerReset(layer.id)">
              RESET
          </button>
          <!-- DELETE BTN -->
          <button class="deleteBtn" (click)="layerDelete(layer.id)">
            DELETE
          </button>
        </div>
        </div>
      </div>

      <!-- PROGRAM/PREVIEW BAR-->
      <div class="PP" >
        <div class="switchBar2D">
          <!-- PGM -->
          <ul class="switchBar pgm">
            <div class="label">{{channel.name}}</div>
            <li *ngFor="let producer of producers.values()" [class.active]="producer.id==channels.get(channel.id).selectedInput" [class.normal]="producer.id!=channels.get(channel.id).selectedInput" (click)="channelSetInput(producer.id, channel.id)">
              <div >
                {{ producer.name }}
              </div>
            </li>
          </ul>
        </div>
        <button class="addLayerBtn" (click)="layerAdd(channel.id)">
          Add DSK
        </button>
      </div>

  </section>

</div>
