
  <h4>
      Add a new producer
    </h4>

    <select (change)="producerTypeSelect($event)" value="1">
        <option value="FILE">
            File Producer
        </option>
        <option value="STREAM" >
            Streaming Producer
        </option>
        <option value="DECKLINK" >
            Decklink producer
        </option>
        <option value="DDR" >
          MediaPlayer
      </option>
    </select>

    <clydeui-file-producer-form *ngIf="inputSelected=='FILE'" (whenFormCompleted)="formCompleted($event)" >
    </clydeui-file-producer-form>
    <clydeui-decklink-producer-form *ngIf="inputSelected=='DECKLINK'" (whenFormCompleted)="formCompleted($event)" >
    </clydeui-decklink-producer-form>
    <clydeui-stream-producer-form *ngIf="inputSelected=='STREAM'" (whenFormCompleted)="formCompleted($event)" >
      </clydeui-stream-producer-form>
      <clydeui-ddr-producer-form *ngIf="inputSelected=='DDR'" (whenFormCompleted)="formCompleted($event)" >
      </clydeui-ddr-producer-form>
