<form (ngSubmit)="formSubmit()" #producerAddForm="ngForm">
  <div>
    <label for="casparName">Name</label>
    <input id="casparName" name="name" [(ngModel)]="consumerFileForm.name" required>
  </div>
  <div>
    <label for="channelId">Channel Id</label>
    <input id="channelId" type="number" name="channelId" [(ngModel)]="consumerFileForm.channelId" required>
  </div>
  <div>
    <label for="fileName">File Name</label>
    <input id="fileName" name="fileName" [(ngModel)]="consumerFileForm.fileName" required>
  </div>
  <div>
    <label for="filePath">Path</label>
    <input id="filePath" name="filePath" [(ngModel)]="consumerFileForm.filePath" required>
  </div>
  <div>
    <label></label>
    <button type="submit">Add</button>
  </div>

  {{ consumerFileForm.errorMessage }}
</form>
