<form (ngSubmit)="formSubmit()" #producerAddForm="ngForm">
  <div>
    <label for="casparName">Name</label>
    <input id="casparName" name="name" [(ngModel)]="consumerStreamForm.name" required>
  </div>
  <div>
    <label for="channelId">Channel Id</label>
    <input id="channelId" type="number" name="channelId" [(ngModel)]="consumerStreamForm.channelId" required>
  </div>
  <div>
    <label for="protocol">Protocol</label>
    <input id="protocol" name="protocol" [(ngModel)]="consumerStreamForm.protocol" required>
  </div>
  <div>
    <label for="host">Host Address</label>
    <input id="host" name="protocol" [(ngModel)]="consumerStreamForm.host" required>
  </div>
  <div>
    <label for="port">Port Number</label>
    <input id="port" name="port" [(ngModel)]="consumerStreamForm.port" required>
  </div>
  <div>
    <label for="pictureWidth">Picture Width (pixels)</label>
    <input id="pictureWidth" name="pictureWidth" [(ngModel)]="consumerStreamForm.pictureWidth" required>
  </div>
  <div>
    <label for="pictureHeight">Picture Height (pixels)</label>
    <input id="pictureHeight" name="pictureHeight" [(ngModel)]="consumerStreamForm.pictureHeight" required>
  </div>
  <div>
    <label></label>
    <button type="submit">Add</button>
  </div>

  {{ consumerStreamForm.errorMessage }}
</form>
