.bar{
    color : rgb(30,30,30);
}
.bar li{
    font-family : Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
    display : inline-block;
    width : 50px;
    height : 50px;
    margin : 2px;
    font-size: 12px;
    text-align : center;
    vertical-align: top;
    padding : 2px;
    line-height : 50px;
    cursor : pointer;
    background-color: rgb(210,210,210);
}
.bar li div{
    width : 100%;
    display : inline-block;
    line-height: normal;
    vertical-align: middle;
    overflow-wrap: break-word;
    pointer-events: none;
}

.bar .input.selected {
    background-color: red;
}

.bar .output.selected {
    background-color: green;
}