<clydeui-caspar-select (select)="setCasparId($event)" class="selectBtn"></clydeui-caspar-select>
Caspar Id : {{casparId}}



    <div *ngFor="let caspar of casparData.caspars.values()">
        <h3>
            {{caspar.casparCommon.name}}
        </h3>
            <table>
                <tr>
                    <th>Name</th><th>ID</th><th>IP addr</th><th>AMCP port</th><th>mediaPath</th><th>logPath</th>
                    <th>templatePath</th><th>thumbnailsPath</th><th>online</th><th>casparVersion</th><th>casparPath</th><th>channelNb</th>
                </tr>
                <tr>
                    <td>{{caspar.casparCommon.name}}</td>
                    <td>{{caspar.casparCommon.id}}</td>
                    <td>{{caspar.casparCommon.ipAddr}}</td>
                    <td>{{caspar.casparCommon.amcpPort}}</td>
                    <td>{{caspar.casparCommon.mediaPath}}</td>
                    <td>{{caspar.casparCommon.logPath}}</td>
                    <td>{{caspar.casparCommon.templatePath}}</td>
                    <td>{{caspar.casparCommon.thumbnailsPath}}</td>
                    <td>{{caspar.casparCommon.online}}</td>
                    <td>{{caspar.casparCommon.casparVersion}}</td>
                    <td>{{caspar.casparCommon.casparPath}}</td>
                    <td>{{caspar.casparCommon.channelsNb}}</td>
                </tr>
            </table>
   <ul>
      <h4>Consumers</h4>
      <table>
        <tr>
          <th>Name</th><th>ID</th><th>Type</th><th>Channel Id</th><th>Is Started</th>
        </tr>
        <tr *ngFor="let consumer of casparData.caspars.get(caspar.id).consumers.values()">
          <td>{{consumer.name}}</td>
          <td>{{consumer.id}}</td>
          <td>{{consumer.type}}</td>
          <td>{{consumer.channelId}}</td>
          <td>{{consumer.started}}</td>
        </tr>
      </table>
   </ul>

   <ul>
      <h4>Producers</h4>
      <table>
        <tr>
          <th>Name</th><th>ID</th><th>Type</th><th>Is Started</th>
        </tr>
        <tr *ngFor="let producer of casparData.caspars.get(caspar.id).producers.values()">
          <td>{{producer.name}}</td>
          <td>{{producer.id}}</td>
          <td>{{producer.type}}</td>
          <td>{{producer.started}}</td>
        </tr>
      </table>
   </ul>

   <ul>
      <h4>Channels</h4>
      <table>
          <tr>
            <th>Name</th><th>ID</th><th>Type</th><th>Video Mode</th><th>Select Input</th>
          </tr>
          <tr *ngFor="let channel of casparData.caspars.get(caspar.id).channels.values()">
            <td>{{channel.name}}</td>
            <td>{{channel.id}}</td>
            <td>{{channel.object}}</td>
            <td>{{channel.videoMode}}</td>
            <td>{{channel.selectedInput}}</td>
          </tr>
        </table>
   </ul>

   <ul>
      <h4>Layers</h4>
      <table>
        <tr>
          <th>Name</th><th>ID</th><th>Is Started</th><th>Layer ID</th><th>Channel ID</th><th>Selected Input</th>
        </tr>
        <tr *ngFor="let layer of casparData.caspars.get(caspar.id).layers.values()">
          <td>{{layer.name}}</td>
          <td>{{layer.id}}</td>
          <td>{{layer.started}}</td>
          <td>{{layer.layerId}}</td>
          <td>{{layer.channelId}}</td>
          <td>{{layer.selectedInput}}</td>
        </tr>
      </table>
   </ul>

   <ul>
    <h4>Playlists</h4>
    <table>
      <tr>
        <th>Name</th><th>ID</th>
      </tr>
      <tr *ngFor="let playlist of casparData.caspars.get(caspar.id).playlists.values()">
        <td>{{playlist.name}}</td>
        <td>{{playlist.id}}</td>
      </tr>
    </table>
  </ul>

  <ul>
    <h4>Medias</h4>
    <table>
      <tr>
        <th>Name</th><th>ID</th><th>Media Type</th><th>Path</th><th>Size</th><th>Duration</th><th>Frame Rate</th>
      </tr>
      <tr *ngFor="let media of casparData.caspars.get(caspar.id).medias.values()">
        <td>{{media.name}}</td>
        <td>{{media.id}}</td>
        <td>{{media.mediaType}}</td>
        <td>{{media.fullPath}}</td>
        <td>{{media.formattedSize}}</td>
        <td>{{media.formattedDuration}}</td>
        <td>{{media.frameRate}}</td>
      </tr>
    </table>
  </ul>

</div>

