<!-- <section>

        <div class="zone left">
            <div>
                <button (click)="isVisibleMatrix = !isVisibleMatrix"> Hide </button>
                <clydeui-output-matrix *ngIf="isVisibleMatrix" class="component outputMatrix" ></clydeui-output-matrix>
            </div>
            <div>
                <button (click)="isVisiblePlayer = !isVisiblePlayer"> Hide </button>
                <clydeui-media-player *ngIf="isVisiblePlayer" class="component mediaPlayer" ></clydeui-media-player>
            </div>
        </div>
        <div class="zone right">
            <div>
                <button (click)="isVisibleSwitchBar2d = !isVisibleSwitchBar2d"> Hide </button>
                <clydeui-switch-bar-2d *ngIf="isVisibleSwitchBar2d" class="component switchBar2d" ></clydeui-switch-bar-2d>
            </div>
        </div>



</section>
 -->

_caspars
________
 <div *ngFor="let caspar of casparData.caspars.values()">
   <h3>
      {{caspar.casparCommon.name}}
   </h3>

   <ul>
      <h4>Consumers</h4>
      <li *ngFor="let consumer of casparData.caspars.get(caspar.id).consumers.values()">
        {{consumer.name}}
      </li>
   </ul>

   <ul>
      <h4>Producers</h4>
      <li *ngFor="let producer of casparData.caspars.get(caspar.id).producers.values()">
        {{producer.name}}
      </li>
   </ul>

   <ul>
      <h4>Channels</h4>
      <li *ngFor="let channel of casparData.caspars.get(caspar.id).channels.values()">
        {{channel.name}}
      </li>
   </ul>

   <ul>
      <h4>Layers</h4>
      <li *ngFor="let layer of casparData.caspars.get(caspar.id).layers.values()">
        {{layer.name}}
      </li>
   </ul>

</div>

