<section>

        <div class="zone left">
            <div>
                <button (click)="isVisibleMatrix = !isVisibleMatrix"> Hide </button>
                <clydeui-output-matrix *ngIf="isVisibleMatrix" class="component outputMatrix" ></clydeui-output-matrix>
            </div>
            <div>
                <button (click)="isVisiblePlayer = !isVisiblePlayer"> Hide </button>
                <clydeui-media-player *ngIf="isVisiblePlayer" class="component mediaPlayer" ></clydeui-media-player>
            </div>
        </div>
        <div class="zone right">
            <div>
                <button (click)="isVisibleSwitchBar2d = !isVisibleSwitchBar2d"> Hide </button>
                <clydeui-switch-bar-2d *ngIf="isVisibleSwitchBar2d" class="component switchBar2d" ></clydeui-switch-bar-2d>
            </div>
        </div>



</section>

