section{
  position : absolute;
  left : 0px;
  right : 0px;
  bottom : 0px;
  top : 150px;
}

section .zone{
  padding : 20px;
  display : inline-block;
  vertical-align : top;
  min-width: 300px;
  border-left : 2px solid rgb(230,230,230);
  height: 100%;
}
section .zone:first-child{
  border:none;
}

section h2{

}

.left div{
  margin : 50px;
}
