<!--The content below is only a placeholder and can be replaced.-->
<section>
  <header>
        <div>
            <img src="../assets/ClydeUI_label_white230.png"/>
        </div>
        <nav>
          <a routerLink="/live" routerLinkActive="active">Live</a>
          <a routerLink="/settings" routerLinkActive="active">Settings</a>
          <a routerLink="/switchbar" routerLinkActive="active">Switch Bar</a>
          <a routerLink="/outputmatrix" routerLinkActive="active">Output Matrix</a>
          <a routerLink="/mediaplayer" routerLinkActive="active">Media Player</a>
        </nav>
  </header>

  <router-outlet></router-outlet>

</section>


