section{
  background-color: rgb(30,30,30);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color : rgb(210,210,210);
  position : absolute;
  top : 0px;
  bottom : 0px;
  right : 0px;
  left  : 0px;
  padding : 10px;
  font-size : 16px;
}

section h1{
  font-size: 30px;
  text-align: center;
  padding-bottom: 30px;
  border-bottom : 1px solid rgb(210,210,210);
}

