<!--The content below is only a placeholder and can be replaced.-->

  <nav>
    <div routerLink="/live" routerLinkActive="active">
      Live
    </div><div routerLink="/settings" routerLinkActive="active">
      Settings
    </div><div routerLink="/switchbar2d" routerLinkActive="active">
      Switch Bar 2D
    </div><div routerLink="/switchbar" routerLinkActive="active">
      Switch Bar 1D
    </div><div routerLink="/outputmatrix" routerLinkActive="active">
      Output Matrix
    </div><div routerLink="/mediaplayer" routerLinkActive="active">
      Media Player
    </div><div routerLink="/records" routerLinkActive="active">
      Records
    </div>
  </nav>

  <section id="mainSec">
      <router-outlet></router-outlet>
  </section>
  




