
section{
    position: absolute;
    top : 0px;
    bottom : 0px;
    left : 0px;
    right : 0px;
    // background-color : red;
}

.containers{
    position: relative;
    display: inline-block;
    vertical-align: top;
    // background-color: blue;

}

.caspars{
    // position: fixed;
    max-width: 30%;
}

.subObjects{
    max-width: 60%;
    overflow: hidden;
}

.subObjects div{
    display: inline-block;
    position: relative;
}