
    <div class="caspars containers">
        <div class="casparAdd">
            <h2>
              Caspar Configuration
            </h2>
            <form (ngSubmit)="casparAdd(casparAddForm.value)" #casparAddForm="ngForm">
                <div class="name">
                    <label for="casparName">Name </label>
                    <input id="caparName" name="name" required ngModel>
                </div>
                <div class="ipAddr">
                  <label for="casparIp">IP Address </label>
                  <input id="casparIp" name="ipAddr" placeholder="127.0.0.1" required ngModel>
                </div>
                <div class="amcpPort">
                  <label for="casparPort">AMCP Port </label>
                  <input id="casparPort" type="number" name="amcpPort" value="5250" placeholder=5250 required ngModel>
                </div>
                <div>
                  <label></label>
                  <button type="submit">Add Server</button>
        
                </div>
            </form>
        </div>
        <div class="casparList">
            <clydeui-caspars-settings
          *ngFor="let caspar of casparData.caspars.values()"
          (selected)="setCasparId($event)"
          [casparId]="caspar.id"
          [isHidden]="casparId != caspar.id">
        </clydeui-caspars-settings>
        </div>
      </div>
      <div class="subObjects containers">
        <ng-container  *ngIf="casparId">
          <div [@appear]="appear ? 'ini' : 'run'">
              <ul>
                  <h4>Consumers</h4>
                  <table>
                    <tr>
                      <th>Name</th><th>ID</th><th>Type</th><th>Channel Id</th><th>Is Started</th>
                    </tr>
                    <tr *ngFor="let consumer of casparData.caspars.get(casparId).consumers.values()">
                      <td>{{consumer.name}}</td>
                      <td>{{consumer.id}}</td>
                      <td>{{consumer.type}}</td>
                      <td>{{consumer.channelId}}</td>
                      <td>{{consumer.started}}</td>
                    </tr>
                  </table>
               </ul>
            
               <ul>
                  <h4>Producers</h4>
                  <table>
                    <tr>
                      <th>Name</th><th>ID</th><th>Type</th><th>Is Started</th>
                    </tr>
                    <tr *ngFor="let producer of casparData.caspars.get(casparId).producers.values()">
                      <td>{{producer.name}}</td>
                      <td>{{producer.id}}</td>
                      <td>{{producer.type}}</td>
                      <td>{{producer.started}}</td>
                    </tr>
                  </table>
               </ul>
            
               <ul>
                  <h4>Channels</h4>
                  <table>
                      <tr>
                        <th>Name</th><th>ID</th><th>Type</th><th>Video Mode</th><th>Select Input</th>
                      </tr>
                      <tr *ngFor="let channel of casparData.caspars.get(casparId).channels.values()">
                        <td>{{channel.name}}</td>
                        <td>{{channel.id}}</td>
                        <td>{{channel.object}}</td>
                        <td>{{channel.videoMode}}</td>
                        <td>{{channel.selectedInput}}</td>
                      </tr>
                    </table>
               </ul>
            
               <ul>
                  <h4>Layers</h4>
                  <table>
                    <tr>
                      <th>Name</th><th>ID</th><th>Is Started</th><th>Layer ID</th><th>Channel ID</th><th>Selected Input</th>
                    </tr>
                    <tr *ngFor="let layer of casparData.caspars.get(casparId).layers.values()">
                      <td>{{layer.name}}</td>
                      <td>{{layer.id}}</td>
                      <td>{{layer.started}}</td>
                      <td>{{layer.layerId}}</td>
                      <td>{{layer.channelId}}</td>
                      <td>{{layer.selectedInput}}</td>
                    </tr>
                  </table>
               </ul>
            
               <ul>
                <h4>Playlists</h4>
                <table>
                  <tr>
                    <th>Name</th><th>ID</th><th colspan="7">Medias</th>
                  </tr>
                  <tr>
                    <th colspan="2"></th><th>Name</th><th>ID</th><th>Media Type</th><th>Path</th><th>Size</th><th>Duration</th><th>Frame Rate</th>
                  </tr>
                  <ng-container *ngFor="let playlist of casparData.caspars.get(casparId).playlists.values()">
                 
                  <tr>
                    <td>{{playlist.name}}</td>
                    <td>{{playlist.id}}</td>
                    <td colspan="7">Medias</td>
                  </tr> 
                  <tr *ngFor="let media of casparData.caspars.get(casparId).playlists.get(playlist.id).list; let id = index">
                      <td colspan="2"></td>
                      <td>{{media.name}}</td>
                      <td>{{media.id}}</td>
                      <td>{{media.mediaType}}</td>
                      <td>{{media.fullPath}}</td>
                      <td>{{media.formattedSize}}</td>
                      <td>{{media.formattedDuration}}</td>
                      <td>{{media.frameRate}}</td>
                  </tr>

                </ng-container>
                </table>
              </ul>

              <ul>
                <h4>Medias</h4>
                <table>
                  <tr>
                    <th>Name</th><th>ID</th><th>Media Type</th><th>Path</th><th>Size</th><th>Duration</th><th>Frame Rate</th>
                  </tr>
                  <tr *ngFor="let media of casparData.caspars.get(casparId).medias.values()">
                    <td>{{media.name}}</td>
                    <td>{{media.id}}</td>
                    <td>{{media.mediaType}}</td>
                    <td>{{media.fullPath}}</td>
                    <td>{{media.formattedSize}}</td>
                    <td>{{media.formattedDuration}}</td>
                    <td>{{media.frameRate}}</td>
                  </tr>
                </table>
              </ul>
          </div>      
        </ng-container>
         
      </div>

