
    <div class="caspars containers">
        <div class="casparAdd">
            <h2>
                <img src="../../assets/caspar.png"/>
                <div>
                   Caspar Configuration
                </div>

            </h2>
            <form (ngSubmit)="casparAdd(casparAddForm.value)" #casparAddForm="ngForm">
                <div class="name">
                    <label for="casparName">Name </label>
                    <input id="caparName" name="name"  required ngModel>
                </div>
                <div class="ipAddr">
                  <label for="casparIp">IP Address </label>
                  <input id="casparIp" name="ipAddr" placeholder="127.0.0.1" required ngModel>
                </div>
                <div class="amcpPort">
                  <label for="casparPort">AMCP Port </label>
                  <input id="casparPort" type="number" name="amcpPort" value="5250" placeholder=5250 required ngModel>
                </div>
                <div>
                  <label></label>
                  <button type="submit">ADD</button>

                </div>
            </form>
        </div>
        <div class="casparList">
            <clydeui-caspars-settings
          *ngFor="let caspar of casparData.caspars.values()"
          (selected)="setCasparId($event)"
          [casparId]="caspar.id"
          [isHidden]="casparId != caspar.id">
        </clydeui-caspars-settings>
        </div>
      </div>
      <div class="subObjects containers">
        <ng-container  *ngIf="casparId">
          <div [@appear]="appear ? 'ini' : 'run'">
            <section>


              <div (click)="show('producers')" class="header">
                <div class="left">
                  <h3>
                    Producers
                  </h3>
                </div>
                <div class="center"></div>
                <div class="right"></div>
              </div>
              <div  [@showHide]="producersHidden ? 'hide' : 'show'" class="content">
                  <div class="add">
                    <div class="form">
                      <div>
                        <label for="producerType">
                            Add
                        </label>
                        <select  [(ngModel)]="selectedProducerType" id="producerType" #producerTypeSelect>
                          <option *ngFor="let element of producersType.entries()" value={{element[0]}} >
                            {{element[1]}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <form (ngSubmit)="producerFormSubmit(producerForm.value)" class="form" #producerForm="ngForm">
                      <div>
                          <label for="producerName">Name</label>
                          <input id="producerName" name="name" placeholder="producer name" required ngModel>
                      </div>
                      <div *ngIf="selectedProducerType=='file'" >
                          <label for="media">Media</label>
                          <select id="media" name="fileName" ngModel>
                            <option *ngFor="let media of casparData.caspars.get(casparId).medias.values()" value={{media.fullPath}}>
                              {{media.name}}
                            </option>
                          </select>
                          <input type="hidden" value="LOOP" name="playMode" ngModel>
                      </div>
                      <div *ngIf="selectedProducerType=='decklink'">
                          <label for="cardId">Card</label>
                          <select id="cardId" name="decklinkId" ngModel>
                              <option *ngFor="let card of cards.entries()" value={{card[0]}}>
                                {{card[1]}}
                              </option>
                          </select>
                      </div>
                      <div *ngIf="selectedProducerType=='stream'" >
                          <label for="url">Url </label>
                          <input if="url" name="url" placeholder="rtsp://184.72.239.149/vod/mp4:BigBuckBunny_115k.mov" required ngModel>
                      </div>
                      <div>
                          <label></label>
                          <button type="submit">Add Producer</button>
                        </div>
                    </form>
                    <div class="buttons">
                      <div *ngIf="selectedProducers.length == 0">
                        Select producers to see availables actions
                      </div>
                      <div *ngIf="selectedProducers.length>0">
                        <button>START</button>
                        <button>STOP</button>
                        <button>EDIT</button>
                        <button (click)="deleteProducers()">DELETE</button>
                      </div>
                    </div>
                  </div>

                  <div class="list">
                    <ul>
                      <form>
                        <table>
                          <tr>
                            <th>Name</th><th>ID</th><th>Type</th><th>Status</th><th>Additionnal Info</th><th>Select</th>
                          </tr>
                          <tr *ngFor="let producer of casparData.caspars.get(casparId).producers.values()"
                              [class.selected]="selectedProducers.includes(producer.id)"
                              (click)="producerSelect(producer.id)"
                              class="line">
                            <td>{{producer.name}}</td>
                            <td>{{producer.id}}</td>
                            <td>{{producer.type}}</td>
                            <td>{{producer.started}}</td>
                            <td>
                              <ng-container *ngIf="producer.type == 'FILE'">
                                <div>
                                  <label>File Name :</label>{{producer.fileName}}
                                </div>
                                <div>
                                  <label>Play Mode :</label>{{producer.playMode}}
                                </div>
                                <div>
                                  <label> Length :</label>{{producer.length}}
                                </div>
                              </ng-container>
                              <ng-container *ngIf="producer.type == 'DDR'">
                                <div>
                                  <label>Auto Play :</label>{{producer.autoPlay}}
                                </div>
                                <div>
                                  <label>Paused :</label>{{producer.paused}}
                                </div>
                                <div>
                                  <label> Playlist :</label>{{producer.playlist.name}}
                                </div>
                              </ng-container>
                              <ng-container *ngIf="producer.type == 'NET'">
                                <div>
                                  <label>Url :</label>{{producer.url}}
                                </div>
                              </ng-container>
                              <ng-container *ngIf="producer.type == 'DECKLINK'">
                                <div>
                                  <label>Card ID :</label>{{producer.decklinkId}}
                                </div>
                                <div>
                                  <label>Embedded Audio :</label>{{producer.embeddedAudio}}
                                </div>
                                <div>
                                    <label>Latency :</label>{{producer.latency}}
                                  </div>
                                  <div>
                                      <label>Buffer Depth :</label>{{producer.bufferDepth}}
                                    </div>
                              </ng-container>
                            </td>
                            <td>
                              <input type="checkbox" value="{{producer.id}}" [checked]="selectedProducers.includes(producer.id)"/>
                            </td>
                          </tr>
                        </table>
                      </form>
                    </ul>
                    <div>
                      <button (click)="selectAllProducers()">Select All</button>
                      <button (click)="unselectAllProducers()">Unselect All</button>
                    </div>
                  </div>
                </div>



                <div (click)="show('consumers')" class="header">
                  <div class="left">
                    <h3>
                      Consumers
                    </h3>
                  </div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div  [@showHide]="consumersHidden ? 'hide' : 'show'" class="content">
                  <ul>
                    <h4>Consumers</h4>
                    <table>
                      <tr>
                        <th>Name</th><th>ID</th><th>Type</th><th>Channel Id</th><th>Is Started</th>
                      </tr>
                      <tr *ngFor="let consumer of casparData.caspars.get(casparId).consumers.values()">
                        <td>{{consumer.name}}</td>
                        <td>{{consumer.id}}</td>
                        <td>{{consumer.type}}</td>
                        <td>{{consumer.channelId}}</td>
                        <td>{{consumer.started}}</td>
                      </tr>
                    </table>
                  </ul>
                </div>


                <div (click)="show('channels')" class="header">
                  <div class="left">
                    <h3>
                      Channels
                    </h3>
                  </div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div  [@showHide]="channelsHidden ? 'hide' : 'show'" class="content">
                  <ul>
                    <h4>Channels</h4>
                    <table>
                      <tr>
                        <th>Name</th><th>ID</th><th>Type</th><th>Video Mode</th><th>Select Input</th>
                      </tr>
                      <tr *ngFor="let channel of casparData.caspars.get(casparId).channels.values()">
                        <td>{{channel.name}}</td>
                        <td>{{channel.id}}</td>
                        <td>{{channel.object}}</td>
                        <td>{{channel.videoMode}}</td>
                        <td>{{channel.selectedInput}}</td>
                      </tr>
                    </table>
                  </ul>
                </div>

                <div (click)="show('layers')" class="header">
                  <div class="left">
                    <h3>
                      Layers
                    </h3>
                  </div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div  [@showHide]="layersHidden ? 'hide' : 'show'" class="content">
                  <ul>
                    <h4>Layers</h4>
                    <table>
                      <tr>
                        <th>Name</th><th>ID</th><th>Is Started</th><th>Layer ID</th><th>Channel ID</th><th>Selected Input</th>
                      </tr>
                      <tr *ngFor="let layer of casparData.caspars.get(casparId).layers.values()">
                        <td>{{layer.name}}</td>
                        <td>{{layer.id}}</td>
                        <td>{{layer.started}}</td>
                        <td>{{layer.layerId}}</td>
                        <td>{{layer.channelId}}</td>
                        <td>{{layer.selectedInput}}</td>
                      </tr>
                    </table>
                  </ul>
                </div>


                <div (click)="show('playlists')" class="header">
                  <div class="left">
                    <h3>
                      Playlists
                    </h3>
                  </div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div  [@showHide]="playlistsHidden ? 'hide' : 'show'" class="content">
                  <ul>
                      <h4>Playlists</h4>
                      <table>
                        <tr>
                          <th>Name</th><th>ID</th><th colspan="7">Medias</th>
                        </tr>
                        <tr>
                          <th colspan="2"></th><th>Name</th><th>ID</th><th>Media Type</th><th>Path</th><th>Size</th><th>Duration</th><th>Frame Rate</th>
                        </tr>
                        <ng-container *ngFor="let playlist of casparData.caspars.get(casparId).playlists.values()">
                          <tr>
                            <td>{{playlist.name}}</td>
                            <td>{{playlist.id}}</td>
                            <td colspan="7">Medias</td>
                          </tr>
                          <tr *ngFor="let media of casparData.caspars.get(casparId).playlists.get(playlist.id).list; let id = index">
                              <td colspan="2"></td>
                              <td>{{media.name}}</td>
                              <td>{{media.id}}</td>
                              <td>{{media.mediaType}}</td>
                              <td>{{media.fullPath}}</td>
                              <td>{{media.formattedSize}}</td>
                              <td>{{media.formattedDuration}}</td>
                              <td>{{media.frameRate}}</td>
                          </tr>
                        </ng-container>
                      </table>
                    </ul>
                </div>



                <div (click)="show('medias')" class="header">
                  <div class="left">
                    <h3>
                      Medias
                    </h3>
                  </div>
                  <div class="center"></div>
                  <div class="right"></div>
                </div>
                <div  [@showHide]="mediasHidden ? 'hide' : 'show'" class="content">
                  <ul>
                    <h4>Medias</h4>
                    <table>
                      <tr>
                        <th>Name</th><th>ID</th><th>Media Type</th><th>Path</th><th>Size</th><th>Duration</th><th>Frame Rate</th>
                      </tr>
                      <tr *ngFor="let media of casparData.caspars.get(casparId).medias.values()">
                        <td>{{media.name}}</td>
                        <td>{{media.id}}</td>
                        <td>{{media.mediaType}}</td>
                        <td>{{media.fullPath}}</td>
                        <td>{{media.formattedSize}}</td>
                        <td>{{media.formattedDuration}}</td>
                        <td>{{media.frameRate}}</td>
                      </tr>
                    </table>
                  </ul>
                </div>


            </section>
            <section>

            </section>














          </div>
        </ng-container>

      </div>

