<form (ngSubmit)="producerAdd()" #producerAddForm="ngForm">
  <div>
    <label for="casparName">Name</label>
    <input id="casparName" name="name" [(ngModel)]="producerFileForm.name" required>
  </div>
  <div>
    <label for="fileName">File Name</label>
    <!-- <input id="fileName" name="fileName" [(ngModel)]="producerFileForm.fileName" ngPattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}" required> -->
    <select #mediaIdSelect id="fileName" name="fileName" [(ngModel)]="producerFileForm.fileName">
      <option *ngFor="let media of medias.values()" value={{media.fullPath}} required>
        {{ media.name}}
      </option>
    </select>
  </div>
  <div>
    <label for="playMode">Play Mode</label>
    <input id="playMode" name="playMode" [(ngModel)]="producerFileForm.playMode" required>
  </div>
  <div>
    <label></label>
    <button type="submit">Add</button>
  </div>

  {{ producerFileForm.errorMessage }}

</form>
