<form (ngSubmit)="formSubmit()" #producerAddForm="ngForm">
  <div>
    <label for="casparName">Name</label>
    <input id="casparName" name="name" [(ngModel)]="consumerDecklinkForm.name" required>
  </div>
  <div>
    <label for="channelId">Channel Id</label>
    <input id="channelId" type="number" name="channelId" [(ngModel)]="consumerDecklinkForm.channelId" required>
  </div>
  <div>
    <label for="decklinkId">Card Number</label>
    <input id="channelId" type="number" name="decklinkId" [(ngModel)]="consumerDecklinkForm.decklinkId" required>
  </div>
  <div>
    <label></label>
    <button type="submit">Add</button>
  </div>

  {{ consumerDecklinkForm.errorMessage }}
</form>
