

<div class="content">
  <h2>
      Media Player {{casparId}}
  </h2>
  <clydeui-caspar-select (select)="setCasparId($event)" class="selectBtn"></clydeui-caspar-select>

</div>

<div *ngIf="casparId">

    <header>
        <label>
            MediaPlayer :
        </label>
        <select (change)="setMediaPlayerId(mediaPlayerSelectForm.value)" #mediaPlayerSelectForm>
            <ng-container *ngFor="let producer of casparData.caspars.get(casparId).producers.values()" >
                <option *ngIf="producer.type == 'DDR'"
                    value="{{producer.id}}"
                    [selected]="producer.id == mediaPlayerId"
                    (change)="setMediaPlayerId(mediaPlayerSelectForm.value)">
                    {{producer.name}}
                </option>
            </ng-container>
        </select>
        <label>
                Add Media :
        </label>
        <select #selectedMedia>
            <option *ngFor="let media of casparData.caspars.get(casparId).medias.values()"  value="{{media.id}}"> {{media.label}} </option>
        </select>
        <button (click)="addMedia(selectedMedia.value)">
            ADD
        </button>
    </header>

    <ng-container *ngIf="mediaPlayer" >


    <div class="control">
      <ul class="transport">
        <li>
          <button (click)="mediaPlayerPrevious()">
              <img src="../../assets/previous.png"/>
          </button>
        </li>
        <li>
            <button (click)="mediaPlayerPlay()" class="playBtn">
                <div *ngIf="! mediaPlayer.paused; then activePlay else pausedPlay"></div>
                  <ng-template #activePlay>
                      <img src="../../assets/play_active.png"/>
                  </ng-template>
                  <ng-template #pausedPlay>
                      <img src="../../assets/play.png"/>
                  </ng-template>
            </button>
        </li>
        <li>
            <button (click)="mediaPlayerNext()">
                <img src="../../assets/next.png"/>
            </button>
        </li>
        <li>
            <button (click)="mediaPlayerStop()">
                <img src="../../assets/stop.png"/>
            </button>
        </li>
      </ul>
      <ul class="playlistSettings">
        <li>
            <button (click)="setPlaylistLoop()">
                <div *ngIf="mediaPlayer.playlistLoop; then activeLoop else loop"></div>
                <ng-template #activeLoop>
                    <img src="../../assets/loop_active.png"/>
                </ng-template>
                <ng-template #loop>
                    <img src="../../assets/loop.png"/>
                </ng-template>
            </button>
        </li>
        <li>
            <button (click)="setPlaylistAutoPlay()">
                <div *ngIf="mediaPlayer.autoPlay; then activeAutoPlay else autoPlay"></div>
                <ng-template #activeAutoPlay>
                    <img src="../../assets/autoplay_active.png"/>
                </ng-template>
                <ng-template #autoPlay>
                    <img src="../../assets/autoplay.png"/>
                </ng-template>
            </button>
        </li>
      </ul>
    </div>



    <div class="progressBar" (click)="seekMedia($event)" id="progressBar">
      <div class="bar" [style.width]="(mediaPlayer.fileTime / mediaPlayer.currentMedia.duration * 100)+'%'">
      </div>
      <div class="time">
        <div class="current">
            Current : {{ mediaPlayer.formattedFileTime }}
        </div>
        <div class="remaining">
            Remaining : {{ mediaPlayer.formattedRemainingTime }}
        </div>
      </div>
    </div>

    <div class="playlist" >
      <ul>
        <li *ngFor="let media of mediaPlayer.playlist.list; let i = index" value={{i+1-1}} [class.active]="i === mediaPlayer.currentIndex" #playlistMedia (click)="mediaPlayerPlayId(playlistMedia.value)">
          <div class="label">
            {{ media.label }}
          </div>
        <ul>
            <li>
                <div  class="size">
                    {{ media.formattedSize }}
                </div>
            </li>
            <li>
                <div>
                    {{ media.formattedDuration }}
                </div>
            </li>
            <li>
                <div>
                    {{ media.fullPath }}
                </div>
            </li>
            <li>
              <div>
                  Index : {{playlistMedia.value}}
              </div>
            </li>
            <li>
                <button (click)="removeMedia(playlistMedia.value)">
                    Remove
                </button>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    </ng-container>

</div>
