

<div class="content">
  <header >
    <h2>
      Media Player
    </h2>
    <div>
      <clydeui-caspar-select (select)="setCasparId($event)" class="selectBtn"></clydeui-caspar-select>
      <div class="selectBtn">
          <label>
              MediaPlayer :
          </label>
          <select (change)="setMediaPlayerId(mediaPlayerSelect.value)" #mediaPlayerSelect>
              <option value="" selected disabled hidden>Choose here</option>
              <option *ngFor="let mediaPlayer of mediaPlayers.values()" value={{mediaPlayer.id}} (load)="setMediaPlayerId($event)" [(ngModel)]="mediaPlayerId" [selected]="mediaPlayer.id == mediaPlayers.keys().next().value ? true : null" >
                {{ mediaPlayer.name }}
            </option>
          </select>
          Add Media :
          <select #selectedMedia>

            <option *ngFor="let media of mediaList.values()"  value="{{media.id}}"> {{media.label}} </option>
          </select>
          <button (click)="addMedia(selectedMedia.value)">
              ADD
          </button>
      </div>
    </div>
  </header>
  <section *ngIf="mediaPlayers.size > 0 ">
    <div class="control">
      <ul class="transport">
        <li>
          <button (click)="mediaPlayerPrevious()">
              <img src="../../assets/previous.png"/>
          </button>
        </li>
        <li>
            <button (click)="mediaPlayerPlay()" class="playBtn">
                <div *ngIf="! mediaPlayer.paused; then activePlay else pausedPlay"></div>
                  <ng-template #activePlay>
                      <img src="../../assets/play_active.png"/>
                  </ng-template>
                  <ng-template #pausedPlay>
                      <img src="../../assets/play.png"/>
                  </ng-template>
            </button>
        </li>
        <li>
            <button (click)="mediaPlayerNext()">
                <img src="../../assets/next.png"/>
            </button>
        </li>
        <li>
            <button (click)="mediaPlayerStop()">
                <img src="../../assets/stop.png"/>
            </button>
        </li>
      </ul>
      <ul class="playlistSettings">
        <li>
            <button (click)="setPlaylistLoop()">
                <div *ngIf="mediaPlayer.playlistLoop; then activeLoop else loop"></div>
                <ng-template #activeLoop>
                    <img src="../../assets/loop_active.png"/>
                </ng-template>
                <ng-template #loop>
                    <img src="../../assets/loop.png"/>
                </ng-template>
            </button>
        </li>
        <li>
            <button (click)="setPlaylistAutoPlay()">
                <div *ngIf="mediaPlayer.autoPlay; then activeAutoPlay else autoPlay"></div>
                <ng-template #activeAutoPlay>
                    <img src="../../assets/autoplay_active.png"/>
                </ng-template>
                <ng-template #autoPlay>
                    <img src="../../assets/autoplay.png"/>
                </ng-template>
            </button>
        </li>
      </ul>
    </div>

    <div class="progressBar" (click)="seekMedia($event)" id="progressBar">
      <div class="bar" [style.width]="mediaPlayer.barWidth+'%'">
      </div>
      <div class="time">
        <div class="current">
            Current : {{ mediaPlayer.currentTime }}
        </div>
        <div class="remaining">
            Remaining : {{ mediaPlayer.remainingTime }}
        </div>
      </div>


    </div>

    <div class="playlist" >

      <ul>
        <!-- <li *ngFor="let media of mediaPlayer.mediaList.values(); let i = index" value={{i+1-1}} [class.active]="playlistMedia.value === mediaPlayer.currentIndex" #playlistMedia (click)="mediaPlayerPlayId(playlistMedia.value)"> -->
            <li *ngFor="let media of mediaPlayer.mediaList; let i = index" value={{i+1-1}} [class.active]="playlistMedia.value === mediaPlayer.currentIndex" #playlistMedia (click)="mediaPlayerPlayId(playlistMedia.value)">

          <div class="label">
            {{ media.label }}

          </div>

          <ul>
            <li>
                <div  class="size">
                    {{ media.formattedSize }}
                </div>
            </li>
            <li>
                <div>
                    {{ media.formattedDuration }}
                </div>
            </li>
            <li>
                <div>
                    {{ media.fullPath }}
                </div>
            </li>
            <li>
              <div>
                  Index : {{playlistMedia.value}}
              </div>
            </li>
            <li>
                <button (click)="removeMedia(playlistMedia.value)">
                    Remove
                </button>
            </li>
          </ul>




        </li>
      </ul>
    </div>
  </section>
  <section *ngIf="mediaPlayer.mediaList.length == 0 ">
      <p>
        Not media found in the player. You can add medias with dropdown list in the header
      </p>
  </section>
  <section *ngIf="mediaPlayers.size == 0 ">
      <p>
        Not media player seems to be configured ! You can add one in the Settings page.
      </p>

      <button routerLink="/settings" routerLinkActive="active">Go to the settings</button>
  </section>
  <!-- <section *ngIf="mediaPlayers == null">

    Not media player seems to be configured ! You can add one in the Settings page.
  </section> -->

</div>


