
<!-- capsarId : {{casparId}} -->
<!-- {{test}} -->

<div class="caspar">

    <div class="header" (click)="toggle()">
        <div class="left">
          <span *ngIf="casparData.caspars.get(casparId).casparCommon.online" class="green status">
            ✓
          </span>
          <span *ngIf="! casparData.caspars.get(casparId).casparCommon.online" class="red status">
            ✗
          </span>
          <h3>
            {{casparData.caspars.get(casparId).casparCommon.name}}
          </h3>
        </div>
        <div class="center">
          {{casparData.caspars.get(casparId).casparCommon.ipAddr}}
        </div>
        <div class="right">

        </div>
    </div>

    <div  [@showHide]="isHidden ? 'hide' : 'show'" class="content">
      <ul class="userInfo">
          <form (ngSubmit)="casparEdit(casparEditForm.value)" #casparEditForm="ngForm">
        <div>

                <li>
                    <label>Name : </label>
                    <span *ngIf="! editMode">{{casparData.caspars.get(casparId).casparCommon.name}}</span>
                    <input
                      *ngIf="editMode"
                      name="name"
                      ngModel="{{casparData.caspars.get(casparId).casparCommon.name}}" />
                  </li>
                  <li>
                    <label>IP address : </label>
                    <span *ngIf="! editMode">{{casparData.caspars.get(casparId).casparCommon.ipAddr}}</span>
                    <input
                      *ngIf="editMode"
                      name="ipAddr"
                      ngModel="{{casparData.caspars.get(casparId).casparCommon.ipAddr}}">
                  </li>
                  <li>
                    <label>AMCP Port : </label>
                    <span *ngIf="! editMode">{{casparData.caspars.get(casparId).casparCommon.amcpPort}}</span>
                    <input
                      *ngIf="editMode"
                      name="amcpPort"
                      type="number"
                      value="casparData.caspars.get(casparId).casparCommon.amcpPort"
                      ngModel={{casparData.caspars.get(casparId).casparCommon.amcpPort}}>
                  </li>

        </div>
        <div *ngIf="! editMode">
          <button (click)="setEditMode(true)">
            EDIT
          </button>
        </div>
        <div *ngIf="editMode">
          <button type="submit">
            APPLY
          </button>
          <button (click)="setEditMode(false)">
              CANCEL
            </button>
        </div>
      </form>
      </ul>

      <ul>
        <li>
          <label>ID : </label>
          <span>{{casparData.caspars.get(casparId).casparCommon.id}}</span>
        </li>

        <li>
          <label>Version : </label>
          <span>{{casparData.caspars.get(casparId).casparCommon.casparVersion}}</span>
        </li>
        <li>
          <label>Decklinks : </label>
          <span>{{casparData.caspars.get(casparId).casparCommon.decklinkCards.length}}</span>
        </li>
      </ul>
      <ul>
          <h4>
            Paths :
          </h4>
          <li>
            <label>Installation : </label>
            <span>{{casparData.caspars.get(casparId).casparCommon.casparPath}}</span>
          </li>
          <li>
            <label>Medias : </label>
            <span>{{casparData.caspars.get(casparId).casparCommon.mediaPath}}</span>
          </li>
          <li>
            <label>Templates : </label>
            <span>{{casparData.caspars.get(casparId).casparCommon.templatePath}}</span>
          </li>
          <li>
              <label>Thumbnails : </label>
              <span>{{casparData.caspars.get(casparId).casparCommon.thumbnailsPath}}</span>
            </li>
        </ul>

       <div class="buttons">
            <button (click)="casparRestart()">
              RESTART
            </button>
            <button (click)="casparIni()">
              RE-INIT
            </button>
            <button (click)="casparScanMedias()">
              SCAN MEDIAS
            </button>
            <button (click)="casparDelete()">
              DELETE
            </button>
        </div>


    </div>
    <!-- <div class="footer">
      <span >
      </span>
    </div> -->
</div>
