@import '../../style/common.less';

.caspar {
  display: block;
  padding : 0px;
}

.header {
  border-bottom : 1px solid @brightColor;
  cursor : pointer;
  position: relative;
  background-color: @brightColor;
  color : @darkColor;
  margin : 0px;
  border-bottom : 2px solid @blueDark;
}
.header .right,.center,.left{
  display: inline-block;
  vertical-align: top;
  padding-left : 10px;
  padding-right: 10px;
}
.header .center,.right{
  padding-top : 10px;
  padding-bottom : 10px;
}
.header .right{
  position: absolute;
  right : 0px;
}
.header .left{
  text-align: center;
  padding-left : 10px;

}
.header .status{
  font-weight: bold;
  font-size: inherit;
  font-size : 30px;
}
.header h3 {
  display : inline-block;
  vertical-align: top;
  padding : 0px;
  margin : 0px;
  margin-top : 10px;
  padding-right : 20px;
}

.content{
  display : block;
  padding : 0px;
  position: relative;
  top : 0px;
  height : 0px;
  overflow: hidden;
  margin: 0px;
  text-align: center;;
}
.content .userInfo div{
  display:inline-block;
}
.content .userInfo div li{
  margin : 2px;
}
.content .userInfo div input{
  padding : 3px;
}
.content .userInfo div button{
  display:block;
  margin : 5px;
}
.content ul{
  margin-left : 10px;
  margin-right : 10px;
  padding : 10px;
  text-align: left;
  vertical-align: top;
  border-bottom : 1px solid @brightColor;
}
.content li{
  display : block;
}
.content h4{
  margin : 0px;
  margin-bottom : 5px;
}
.content ul label{
  text-align: right;
  display: inline-block;
  // width : 39%;
  min-width : 100px;
  margin-right: 10px;
  font-weight: bold;
  vertical-align: top;
}
.content ul span{
  display: inline-block;
  min-width : 100px;
  max-width : 60%;
}
.content .buttons{
  display: inline-block;
  // width : 100%;
  text-align: center;
  padding : 10px;
}
.content .buttons button{
  margin : 5px;
  display : inline;
  padding : 10px;
  padding-top : 5px; padding-bottom : 5px;
}
