<div class="content">


  <!-- <header class="header">
    <h2>
      CasparCG Settings
    </h2>
  </header> -->

  <div class="add">

      <h4>
          Add a CasparCG server
      </h4>

      <form (ngSubmit)="casparAdd(casparAddForm.value)" #casparAddForm="ngForm">
        <div>
            <label for="casparName">Name :</label>
            <input id="caparName" name="name" required ngModel>
        </div>
        <div>
          <label for="casparIp">IP Address :</label>
          <input id="casparIp" name="ipAddr" placeholder="127.0.0.1" required ngModel>
        </div>
        <div>
          <label for="casparPort">Amcp Port :</label>
          <input id="casparPort" name="amcpPort" value="5250" placeholder=5250 required ngModel>
        </div>
        <div>
          <label></label>
          <button type="submit">Add Server</button>

        </div>
    </form>
  </div>

  <table>
    <tr>
      <th>
          NAME
      </th>
      <th>
        IP ADDRESS
      </th>
      <th>
        STATUS
      </th>
      <th colspan="4">
        ACTIONS
      </th>
    </tr>
    <tr *ngFor="let caspar of caspars.values()">
      <td>
          {{caspar.casparCommon.name}}
      </td>
      <td>
          {{caspar.casparCommon.ipAddr}}
      </td>
      <td>
        <div class="status" [ngClass]="{'active':caspar.casparCommon.online}">
          <span *ngIf="caspar.casparCommon.online">✔</span>
          <span *ngIf="! caspar.casparCommon.online">✘</span>
        </div>
    </td>
      <td>
          <button (click)="casparScanMedias(caspar.id)">
            Scan Medias
          </button>
      </td>
      <td>
          <button (click)="casparRestart(caspar.id)">
            Restart
          </button>
      </td>
      <td>
        <button (click)="casparIni(caspar.id)">
          Re-Init
        </button>
        </td>
        <td>
          <button (click)="casparDelete(caspar.id)">
            delete
          </button>
      </td>
    </tr>
  </table>
</div>
