<form (ngSubmit)="formSubmit()" #producerAddForm="ngForm">
    <div>
      <label for="casparName">Name</label>
      <input id="casparName" name="name" [(ngModel)]="consumerScreenForm.name" required>
    </div>
    <div>
        <label for="channelId">Channel</label>
        <input id="channelId" type="number" name="channelId" [(ngModel)]="consumerScreenForm.channelId" required>
        <!-- <select id="channelId" name="channelId" [(ngModel)]="consumerScreenForm.channelId" required>
          <option *ngFor="let channel of channels.values()" value={{channel.id}}>
            {{channel.name}}
          </option>
        </select> -->
      </div>
    <div>
      <label></label>
      <button type="submit">Add</button>
    </div>
    {{ consumerScreenForm.errorMessage }}

    <!-- <li *ngFor="let channel of channels.values()">
      {{channel}}
    </li> -->
  </form>
