

@darkColor    : rgb( 30,30,30);
@mediumColor  : rgb(100,100,100);
@brightColor  : rgb(210,210,210);
@redHover     : rgb(230,70,70);
@redActive    : rgb(250,20,20);
@redNormal    : rgb(180, 10, 10);
@greenHover   : rgb(100,180,100);
@greenActive  : rgb(50,180,50);
@greenNormal  : rgb(50,130,50);
// @blueHover    : rgb(150,150,200);
// @blueActive   : rgb(100,100,200);
// @blueNormal   : rgb(70, 70, 140);
@blueDark     : rgb(0,22,39);
@blueNormal   : rgb(0,75,130);
@blueActive   : rgb(0,120,180);
@blueHover    : rgb(104,172,206);

@yellowNormal : rgb(224,143,0);
@yellowActive : rgb(255,181,50);
@yellowHover  : rgb(255,213,139);



@headerHeight : 20px;
@backgroundColor : @blueDark;

@titleFont : Nunito;
@bodyFont : Nunito;

/**
* Comfortaa
*/
@font-face {
  font-family: "Comfortaa";
  src: url('../style/fonts/Comfortaa/Comfortaa-Regular.ttf');
  font-weight :	normal;
}
@font-face {
  font-family: "Comfortaa";
  src: url('../style/fonts/Comfortaa/Comfortaa-Light.ttf');
  font-weight :	lighter;
}
@font-face {
  font-family: "Comfortaa";
  src: url('../style/fonts/Comfortaa/Comfortaa-Bold.ttf');
  font-weight :	bold;
}

/**
* Ds-Digi
*/
@font-face {
  font-family: "Ds-Digi";
  src: url('../style/fonts/DS-Digi/DS-DIGI.TTF');
  font-weight :	normal;
}

/**
* Lato
*/

@font-face {
  font-family: "Lato";
  src: url('../style/fonts/Lato2OFL/Lato-Regular.ttf');
  font-weight :	normal;
}
@font-face {
  font-family: "Lato";
  src: url('../style/fonts/Lato2OFL/Lato-Light.ttf');
  font-weight :	lighter;
}
@font-face {
  font-family: "Lato";
  src: url('../style/fonts/Lato2OFL/Lato-Bold.ttf');
  font-weight :	bold;
}

/**
* Nunito
*/

@font-face {
  font-family: "Nunito";:host{
    font-family: @bodyFont;
    font-weight: normal;
  }
  src: url('../style/fonts/Nunito/Nunito-Regular.ttf');
  font-weight :	normal;
}
@font-face {
  font-family: "Nunito";
  src: url('../style/fonts/Nunito/Nunito-Light.ttf');
  font-weight :	lighter;
}
@font-face {
  font-family: "Nunito";
  src: url('../style/fonts/Nunito/Nunito-Bold.ttf');
  font-weight :	bold;
}


:host{
  font-family: @bodyFont;
  font-weight: normal;
}

h1{
  font-family: @titleFont;
}
h2{
  font-family: @titleFont;
}
h3{
  font-family: @titleFont;
}
h4{
  font-family: @titleFont;
}
h5{
  font-family: @titleFont;
}

section{
  font-family: @bodyFont;
}

.addLayerBtn{
  padding : 20px;
}
.addLayerBtn:hover{
  padding : 20px;
}

button{
  cursor : pointer;
  padding : 0px;
  text-decoration: none;
  padding : none;
  border-radius: 0px;
  border : none;
  background: none;
  background-color : @blueNormal;
  color: @brightColor;
  padding : 5px;
}
button:hover{
  background-color : @blueHover;
  color : @darkColor
}
button:active{
  border:none;
  outline: none;
  background-color : @blueActive;
}
button:focus{
  outline: none;
  border:none;
}
button::-moz-focus-inner {
  border: 0;
}

ul{
  margin : 0px;
  padding : 0px;

}
li{
  margin : 0px;
  padding : 0px;
  display : inline-block;
}

// .content{
//   margin : 10px;
//   position : absolute;
//   left : 0px;
//   right : 0px;
//   bottom : 0px;
//   vertical-align: top;
//   height : auto;
//   max-height: 750px;
//   overflow-y: scroll;
// }


  header{
    position : relative;
    display: inline-block;
    top : 0px;
    left : 0px;
    right : 0px;
    background-color : @brightColor;
    color : rgb(30,30,30);
    height : 40px;
    padding-right : 2px;
    padding-left : 20px;

  }

  header h2{
    margin : 0px;
    font-size : 15px;
    padding : 0px;
    display : inline-block;
    margin : 0px;
  }

  header .selectBtn{
    display : inline-block;
    margin : 10px;
  }

section{
  // position : relative;
  // display : inline-block;
  margin-top : 10px;
  width : 100%;
}

a{
  color : inherit;
  text-decoration: none;
}

.status.active{
  color : @greenActive;
}

.status.error{
  color : @redNormal;
  text-align : center;
  font-size : 30px;
}

.status{
  color : @mediumColor;
  text-align : center;
  font-size : 30px;
}

div{

  vertical-align: top;
}




select {
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}

.red { color : @redNormal; }

.green { color : @greenNormal; }


input{
  padding : 5px;
  border : none;
  background-color : @brightColor;
}

select{
  padding : 5px;
  border : none;
  background-color : @brightColor;
  cursor : pointer;
}
option {
  cursor : pointer;
}
