<table>
    <tr>
        <th>
          Name
        </th>
        <th>
          type
        </th>
        <th>

        </th>
        <th>

        </th>
    </tr>
  <tr *ngFor="let producer of producers.values()" class="input" id='input{{ producer.id }}' attr.name="{{ producer.id }}">
    <td>
        {{ producer.name }}
    </td>
    <td>
        {{ producer.type }}
    </td>
    <td >
      <button (click)="editSubmit($event)" attr.name="{{ producer.id }}">
        Edit
      </button>
    </td>
    <td >
      <button (click)="deleteSubmit(producer.id)" attr.name="{{ producer.id }}">
        Delete
      </button>
    </td>
  </tr>
</table>
