@import '../style/common.less';

.recordBloc{
  border : 1px solid @brightColor;
}

.recordBloc li{
  display : inline-block;
}

.recordBloc {

}
.recBtn img{
  width : 100px;
  cursor : pointer;
}


.hyperdeck{
  width : 900px;
  display: inline-block;
}

/**
* Title
*/
.hyperdeck h3{
  position : relative;
  background-color: @brightColor;
  color : @darkColor;
  height : 50px;
  font-size : 25px;
  margin-bottom : 0px;
}
.hyperdeck h3 .div{
  display: inline-block;
  padding : 10px;
}
.hyperdeck .name{
  position : absolute;
  left : 12px;
  top : 12px;
}
.hyperdeck .ipAddr{
  position : absolute;
  right : 12px;
  top : 12px;
}

.hyperdeck .left{
  display: inline-block;
  width : 350px;
  vertical-align: top;
}

/**
* Timecode
*/
.hyperdeck .timecode{
  margin : 10px;
  width : 280px;
  text-align: left;
  background-color: @brightColor;
  color : @darkColor;
  font-family: ds-digi;
  font-size : 60px;
  padding-top : 10px;
  padding-left : 20px;
  padding-right : 20px;
}

.hyperdeck .timecode .speed{
  font-size : 12px;
  font-family : comfortaa;
  text-align: right;
  padding-bottom : 5px;
}

/**
* Controls
*/
.hyperdeck .controls{
  margin : 10px;
  padding : 20px;
  text-align: center;
  width : 280px;
}
.hyperdeck .controls li{
  cursor: pointer;
}
.hyperdeck .controls img{
  height: 40px;
}

.hyperdeck .rec{
  display: inline-block;
  cursor : pointer;
  vertical-align: top;
  margin : 10px;
}
.hyperdeck .rec div{
  display: inline-block;
}

.hyperdeck .rec img{
  display: inline-block;
  width : 150px;
}

.hyperdeck .config{
  margin : 10px;
  display : inline-block;
  width : 300px;
  border : 1px solid @brightColor;
  padding-bottom : 10px;
}
.hyperdeck .config h4{
  background-color: @brightColor;
  color : @darkColor;
  padding : 20px;
  padding-bottom : 10px;

  margin :0px;
  margin-bottom : 10px;
}
.hyperdeck .config li{
  margin-left : 10px;
  margin-right : 10px;
}
.hyperdeck .config label{
  display: inline-block;
  width : 130px;
  text-align: right;
  font-weight: bold;
  padding : 2px;
  padding-right : 5px;
}

.hyperdeck .additionnalControls{
  margin-left : 10px;
}
.hyperdeck .additionnalControls li{
  background-color: @brightColor;
  color : @darkColor;
  padding : 10px;
  cursor : pointer
}
.hyperdeck .additionnalControls li.active{
  background-color: @blueActive ;

}
