@import '../style/common.less';


/**
* COMMON
*/
.recorder {
  margin : 40px;
  display : inline-block;
}
.casparRecords{
  display : inline-block;
}
.caspar{
  display : inline-block;
}
.casparRecords li {
  display : inline-block;
}
.recorder .green{
  color : @greenNormal;
}
.recorder .red{
  color : @redNormal;
}

/**
* HEADER
*/
.recorder .header{
  position : relative;
  display: inline-block;
  width : 700px;
  padding : 5px;
  background-color: transparent;
  border-bottom: 1px solid @brightColor;


}
.recorder .header div{
  display: inline-block;
  margin-left : 5px;
  margin-right: 5px;
  color : @brightColor;

}
.recorder .header .right{
  position : absolute;
  right : 5px;
  bottom: 5px;
}
.recorder .header .left{

}
.recorder .header .status{

}
.recorder .header .hyperdeckName{
  border-right: 1px solid @brightColor;
  padding-right: 10px;
  font-size: 20px;
  font-weight : bold;
  padding-right : 20px;
}
.recorder .header .clipName{

}
/**
* HYPERDECK settings
*/
.recorder .settings{
  text-align: center;
  margin-top : 10px;
  margin-bottom : 10px;
  font-size : 15px;
}
.recorder .settings label{
  font-weight: bold;
}
.recorder .settings select{
  border-radius: none;
  border:none;
  font-family: inherit;
  padding : 5px;
  background-color: @darkColor;
  color : @brightColor;
  cursor: pointer;
}
.recorder .settings select:hover{
  background-color: @brightColor;
  color : @darkColor;
}

.recorder .settings .resolution{
  margin-right : 10px;
}

/**
* HYPERDECK CENTER ZONE
*/

// timecode
.recorder .content{
  text-align : center;
}
.recorder .content .left .timecode{
    position: relative;
    text-align: left;
    margin : 10px;
    width : 250px;
    background-color: @brightColor;
    color : @darkColor;
    font-family: ds-digi;
    font-size : 50px;
    padding-top : 5px;
    padding-bottom : 5px;
    padding-left : 10px;
    padding-right : 10px;
    margin-bottom: 20px;
    height : 50px;
  }

  .recorder .content .left .timecode .speed{
    position : absolute;
    font-size : 12px;
    font-family : comfortaa;
    text-align: right;
    bottom : 5px;
    right : 5px;
  }
// Controls
.recorder .content .left{
  display: inline-block;
}
.recorder .content .left .controls {
  margin : 10px;
}
.recorder .content .left .controls li{
  cursor : pointer;
}
.recorder .content .left .controls li:hover{
  opacity: 0.7;
}
.recorder .content .left .controls li img{
  height : 40px;
}



// rec button
.recorder .content .rec {
  margin : 10px;
  display: inline-block;
  vertical-align: top;
  cursor : pointer;
  margin-left : 0px;
}
.recorder .content .rec:hover{
  opacity: 0.7;
}
.recorder .content .rec img{
  height : 60px;

}

// additionnal buttons
.recorder  .content .right{
    margin-top : 10px;
    display: inline-block;
    vertical-align: top;
  }
  .recorder  .content .right div{
    background-color: @brightColor;
    color : @darkColor;
    padding : 10px;
    cursor : pointer;
    display : block;
    margin-bottom : 10px;
    text-align : center;
    margin-right: 5px;
    margin-left : 5px;
  }
  .recorder  .content .right div:hover{
    opacity : 0.7;
  }
  .recorder  .content .right .active{
    background-color: rgb(0,75,130);
    color : @brightColor;
    font-weight: bold;
  }


  // group button
  .recorder  .header .grouped div{
    background-color: @brightColor;
    color : @darkColor;
    padding : 10px;
    padding-bottom : 5px;
    cursor : pointer;
    position :relative;
    bottom : -5px;
  }
  .recorder  .header .grouped .active{
    background-color: @blueNormal;
    color : @brightColor;
    font-weight: bold;
  }
