@import '../style/common.less';

.recordBloc{
  border : 1px solid @brightColor;
}

.recordBloc li{
  display : inline-block;
}

.recordBloc {

}
.recBtn img{
  width : 100px;
  cursor : pointer;
}


