<h4>
    Add a new consumer
  </h4>

  <select (change)="consumerTypeSelected($event)">
      <option value="SCREEN" >
          Screen Consumer
      </option>
      <option value="FILE">
          File Consumer
      </option>
      <option value="STREAM" >
          Streaming Consumer
      </option>
      <option value="DECKLINK" >
          Decklink Consumer
      </option>

  </select>

  <clydeui-screen-consumer-form *ngIf="consumerType=='SCREEN'" [casparId]="casparId"  (submit)="formCompleted($event)" >
    </clydeui-screen-consumer-form>
  <clydeui-file-consumer-form *ngIf="consumerType=='FILE'" [casparId]="casparId" (submit)="formCompleted($event)" >
  </clydeui-file-consumer-form>
  <clydeui-decklink-consumer-form *ngIf="consumerType=='DECKLINK'" [casparId]="casparId" (submit)="formCompleted($event)" >
  </clydeui-decklink-consumer-form>
  <clydeui-stream-consumer-form *ngIf="consumerType=='STREAM'" [casparId]="casparId" (submit)="formCompleted($event)" >
    </clydeui-stream-consumer-form>
